<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.cook_diary.mapper.AccountMapper">
  <select id="findByEmail" resultType="com.app.cook_diary.entity.Account">
    SELECT
      *
    FROM
      account
    WHERE
      email = #{email}
  </select>
  <insert id="registerAccount">
    INSERT INTO account
    (
      email,
      password
    )
    VALUES
    (
      #{email},
      #{password}
    )
  </insert>
  <select id="verifyExistsUser" resultType="Integer">
    SELECT
      1
    FROM
      account
    WHERE
      email = #{email}
    LIMIT
      1
  </select>
</mapper>