<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry location="${driverFile}"/>
    <context id="MySQLTables" targetRuntime="MyBatis3" defaultModelType="flat">
        <!-- JDBC接続情報 -->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/cook_diary_db"
                        userId="root"
                        password="rootpassword"/>

        <!-- Javaのエンティティクラスの生成先 -->
        <javaModelGenerator targetPackage="com.app.cook_diary.entity"
                            targetProject="src/main/java"/>

        <!-- Mapper XMLファイルの生成先 -->
<!--        <sqlMapGenerator targetPackage="com.app.cook_diary.mappers"-->
<!--                         targetProject="src/main/resources"/>-->

        <!-- Mapperインターフェースの生成先 -->
<!--        <javaClientGenerator type="XMLMAPPER"-->
<!--                             targetPackage="com.app.cook_diary.mapper"-->
<!--                             targetProject="src/main/java"/>-->

        <!-- テーブル設定 -->
        <table tableName="account" />
        <table tableName="dish" />
        <!-- 複数のテーブルを対象にする場合は、複数の< table >を追加 -->
    </context>
</generatorConfiguration>